body {
    background-color: #ffffff;
    color: #434455;
    font-family: Roboto, sans-serif;
    /* list-style: none; */
}
ul {
}
/*HEADER*/
.loga {
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 18px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: 
}
.logb {
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 18px;
    line-height: 1.3;  
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.logbf {
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 18px;
    line-height: 1.1;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    color: #F4F4FD;
}
.header-link {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.header-nav-ul .link:hover,
.header-nav-ul .link:focus {
    color: #4D5AE5;
}

.header-link {
    text-decoration: none;
}
.header-nav-ul {
    color: #2E2F42;
    list-style: none;
}

.link {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.header-nav-ul a {
    text-decoration: none;
}



/* HEADER CONTACTS UL*/
.ul-contacts- {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}
.ul-contacts-:hover,
.ul-contacts-:focus {
    color: #4D5AE5;
}
/* MAIN BUTTON */
.buto-main {
    display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 16px 32px;
        gap: 10px;
    
        position: absolute;
        width: 170px;
        height: 51px;
        left: 635px;
        top: 432px;
    
        background: #4D5AE5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}
.buto-main > span {
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1;
 
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;

    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.buto-main:hover {
    color: #4D5AE5;
}
.buto-main:focus {
    color: #404BBF;
}
/* BUTTON PORTFOLIO */
.buto {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    
    width: 116px;
    height: 48px;
    
    
    background: #F4F4FD;
    
    
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
.buto span {
    width: 68px;
    height: 24px;

    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;

    color: #4D5AE5;
}
.buto:active {
    color: #4D5AE5;
}
.buto:hover {
    color: #4D5AE5;
}
.buto:focus {
    color: #4D5AE5;
}
/* main */
.main-section h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;    
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize; 
    color: #2E2F42
}
.main-section-tm h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42
}
.main-section-tm {
    background-color: #F4F4FD;
}
.main-section-top {
    width: 1440px;
    height: 603px;
    background-color: #2E2F42;
}

.main-section-top > h1 {
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 1;    
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.main-team > li p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.main-team > li h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;    
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.main-ourmethods > li p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}
.main-ourmethods > h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
/* portfolio */
.main- > section h3 { 
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;   
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.main- > section p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* footer */
.footer-{
    background-color: #2E2F42;
}
.footer- p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}
/* visually */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden
}