body {
    background-color: #E5E5E5;
    color: #434455;
    font-family: Roboto, sans-serif;
    list-style: none;
}
ul {
    list-style: none;
}
/*HEADER*/
.loga {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: 
}
.logb {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;  
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.header-link {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.header-link:hover,
.header-link:focus {
    color: #434455
}
.header-link {
    text-decoration: none;
}
.header-nav-ul {
    color: #2E2F42;
    list-style: none;
}
.link {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.header-nav-ul .link:hover,
.header-nav-ul .link:focus {
    color: #434455;
}
.header-nav-ul a {
    text-decoration: none;
}



/* HEADER CONTACTS UL*/
.ul-contacts- {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.ul-contacts-:hover,
.ul-contacts-:focus {
    color: #4D5AE5;
}
/* MAIN BUTTON */
.buto {
   background-color: #4D5AE5;
   cursor: pointer;
}
.buto:hover,
.buto:focus {
    color: #434455
}
/* main */
.main-section h2 {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;    
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize; 
    color: #2E2F42
}

.main-section-top > h1 {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.main-team > li p {
    font-family: 'roboto';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.main-team > li h3 {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;    
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.main-ourmethods > li p {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455
}
.main-ourmethods > h3 {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
/* portfolio */
.main- > section h3 { 
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;   
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.main- > section p {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
/* footer */
.footer- p {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}